body {
  background-color: #cccccc;
  color: #0f292f;
  font-family: monospace;
}

header {
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
}

.form-div {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  margin: 2rem 25%;
  width: 50%;
}

.field {
  border: 1.5px solid #0f292f;
  padding: 0.3rem;
}
.meme-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.meme-div {
  background-size: cover;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  height: 20rem;
  justify-content: space-between;
  margin: 1rem;
  text-align: center;
  width: 20rem;
}

p {
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  margin: 0.5rem;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
}

.overlay {
  background-color: white;
  border-radius: 5%;
  height: 20rem;
  opacity: 0%;
  position: absolute;
  width: 20rem;
}

.create-btn {
  background-color: #cb2d6f;
  border: none;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  font-family: monospace;
  font-size: 1.2rem;
  margin-left: auto;
  padding: 0.75rem;
  width: fit-content;
}

.create-btn:hover {
  background-color: #501f3a;
}

.delete-btn {
  border: none;
  cursor: pointer;
  left: 45%;
  padding: 0;
  position: absolute;
  top: 90%;
  transition: all 0.3s ease-in-out 0s;
  width: 10%;
}

.meme-div :hover {
  opacity: 50%;
}

.meme-div:hover .delete-btn {
  top: 50%;
}
