body {
  background-color: #cccccc;
  color: #0f292f;
  font-family: Monaco;
}

header {
  font-size: 3rem;
  padding: 1rem;
  text-align: center;
}

.form-div {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin: 2rem 25%;
  width: 50%;
}

.field {
  border-radius: 0.2rem;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  font-family: Monaco;
  font-size: 0.75rem;
  padding: 0.2rem;
}

.radio-div {
  display: flex;
}

.radio-div label {
  margin-right: 2rem;
}

.radio-div input {
  margin: auto 0.4rem auto 0;
}

.create-btn {
  background-color: #cb2d6f;
  border: none;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  font-family: Monaco;
  font-size: 1rem;
  margin-left: auto;
  padding: 0.75rem;
  width: fit-content;
}

.create-btn:hover {
  background-color: #501f3a;
}

.meme-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.meme-div {
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  height: 20rem;
  justify-content: space-between;
  margin: 1rem;
  text-align: center;
  width: 20rem;
}

.meme-div :hover {
  opacity: 50%;
}

p {
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  margin: 0.5rem;
  overflow: hidden;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  word-wrap: break-word;
}

.overlay {
  background-color: white;
  border-radius: 5%;
  height: 20rem;
  opacity: 0%;
  position: absolute;
  width: 20rem;
}

.delete-btn {
  border: none;
  cursor: pointer;
  left: 45%;
  padding: 0;
  position: absolute;
  top: 90%;
  transition: all 0.3s ease-in-out 0s;
  width: 10%;
}

.meme-div:hover .delete-btn {
  top: 50%;
}

.mobile-delete-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  display: none;
  color: gray;
  padding: 10px;
  transform: translate(-80%, -50%);
}

@media (max-width: 750px) {
  .form-div {
    width: 100%;
    margin: 1rem 0;
  }

  .radio-div {
    justify-content: center;
  }

  .create-btn {
    margin-top: 1rem;
  }

  .meme-div {
    margin: 2rem;
  }

  .overlay {
    display: none;
  }

  .mobile-delete-btn {
    display: block;
  }
}
